<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="foodscout">
<!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<uses-permission android:name="android.permission.INTERNET" />


<application
    android:hardwareAccelerated="false"
    android:allowBackup="true"
    android:icon="@mipmap/appicon"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/appicon_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.DeliverNow">
    <activity
        android:name="co.za.foodscout.CartViewActivity"
        android:theme="@style/Theme.DeliverNow.NoActionBar"
        android:exported="true"
        android:label="Your Cart" />
    <activity
        android:name="co.za.foodscout.RetailsActivity"
        android:theme="@style/Theme.DeliverNow.NoActionBar"
        android:exported="true"
        android:label="choose restaurant" />
    <activity
        android:name="co.za.foodscout.OrderViewActivity"
        android:exported="true"
        android:theme="@style/Theme.DeliverNow.NoActionBar"
        android:label="View your Order" />
    <activity
        android:name="co.za.foodscout.DeliveriesActivity"
        android:exported="true"
        android:theme="@style/Theme.DeliverNow.NoActionBar"
        android:label="Deliveries Pending" />
    <activity
        android:name="co.za.foodscout.AccountActivity"
        android:exported="true"
        android:theme="@style/Theme.DeliverNow.NoActionBar"
        android:label="Account Details" />
    <activity
        android:name="co.za.foodscout.ResetPasswordActivity"
        android:label="@string/Login"
        android:exported="true" />
    <activity
        android:name="co.za.foodscout.DeliveryDetailsActivity"
        android:exported="true"
        android:theme="@style/Theme.DeliverNow.NoActionBar"
        android:label="Delivery Details" />
    <activity
        android:name="co.za.foodscout.DrawerActivity"
        android:exported="true"
        android:theme="@style/Theme.DeliverNow.NoActionBar" />
    <activity
        android:name="co.za.foodscout.MenuActivity"
        android:theme="@style/Theme.DeliverNow.NoActionBar"
        android:label="Menu" />
    <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="@string/google_maps_key" />

    <activity
        android:name="co.za.foodscout.MapActivity"
        android:label="Choose delivery Location"
        android:theme="@style/Theme.DeliverNow.NoActionBar" />
    <activity
        android:name="co.za.foodscout.LoginActivity"
        android:theme="@style/Theme.DeliverNow.NoActionBar"
        android:label="@string/Login" />
    <activity
        android:name="co.za.foodscout.RegisterActivity"
        android:label="@string/title_activity_register"
        android:theme="@style/Theme.DeliverNow.NoActionBar" />
    <activity
        android:name="co.za.foodscout.SettingsActivity"
        android:label="@string/settings"
        android:theme="@style/Theme.DeliverNow.NoActionBar" />
    <activity
        android:name="co.za.foodscout.SellerViewActivity"
        android:exported="true"
        android:label="Orders"
        android:theme="@style/Theme.DeliverNow.NoActionBar" />
    <activity
        android:name="co.za.foodscout.MainActivity"
        android:theme="@style/Theme.DeliverNow.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
</application>

</manifest>
